@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiPaper-root {
  background: #1d1539 !important;
  padding: 5px !important;
}

.MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium css-bbwutp-MuiButtonBase-root-MuiIconButton-root {
  margin-left: 200%;
}